#landing
{
    background:url("https://images.unsplash.com/photo-1521898284481-a5ec348cb555?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat:round;
    background-size:cover;
    margin:0;
}
#contact
{
    text-align: center;
}
#linkedin
{
    font-size:30px;
    color:rgb(23, 91, 117);
    margin-left:10px;
    margin-top:5px;
}
#github
{
    font-size:30px;
    color:black;
    margin-left:10px;
}
#resume
{
    text-decoration: none;
    font-family:Jura;
    color:white;
    font-weight:800;
}
#resume:hover
{
    text-decoration: underline;
}
h1
{
    font-family:Dancing Script;
    color:white;
    font-weight:normal;
    font-size:35px;
}
#project-div a
{
    text-decoration: none;
    color:black;
    font-weight:600;
    font-family: Jura;
}
#project-div
{
    border:1px gainsboro solid;
    background:gainsboro;
    width:15%;
    margin:auto;
    text-align: center;
    padding:12px;
    border-radius:5px;
    margin-top:12%;
    transition:.2s linear;
}
#project-div:hover
{
    padding:15px;
}
#projects
{
    margin-top:28%;
}
#projects .project-topic
{
    float: left;
    margin-left:3%;
    margin-top:3%;
}
.project-topic img
{
    width:100%;
    border-top-left-radius:5px;
    border-top-right-radius:5px; 
}
.project-topic
{
    width:30%;
    border-radius: 5px;
    background:gainsboro;
}
.project-topic div
{
    text-align:center;
}
.project-topic p
{
    font-family: Open Sans Condensed;
}
.live
{
    text-decoration: none;
    color:black;
}
.code
{
    text-decoration: none;
    color:black;
    margin-left:10px;
}
#gmail img
{
    width:2%;
    margin-left:10px;
}
@media screen and (max-width:720px)
{
    #project-div
   {
     width:30%;
     margin-top:30%;
   }
   #gmail img
   {
    width:3.5%;
    margin-left:10px;
   }
   .project-topic
   {
    width:45%;
   }
   #projects
   {
    margin-top:60%;
   }   
}
@media screen and (max-width:480px)
{
    #project-div
   {
     width:50%;
     margin-top:30%;
   }
   #gmail img
   {
    width:5%;
    margin-left:10px;
   }
   .project-topic
   {
    width:95%;
   }
   #projects
   {
    margin-top:60%;
   }   
}
@media screen and (max-width:360px)
{
    #project-div
   {
     width:70%;
     margin-top:45%;
   }
   #gmail img
   {
    width:7%;
    margin-left:10px;
   }
   .project-topic
   {
    width:95%;
   }
   #projects
   {
    margin-top:85%;
   }   
}
@media screen and (max-width:240px)
{
    #project-div
   {
     width:90%;
     margin-top:65%;
   }
   #gmail img
   {
    width:9%;
    margin-left:10px;
   }
   .project-topic
   {
    width:95%;
   }
   #projects
   {
    margin-top:95%;
   }   
   #linkedin
{
    font-size:20px;
    color:rgb(23, 91, 117);
    margin-left:8px;
    margin-top:5px;
}
#github
{
    font-size:20px;
    color:black;
    margin-left:8px;
}
}